body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

 /* header-section-style */

.header{
    background:#1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    color:#F9FAF8;
    font-size: 24px;
}
.header-links{
    display: flex;
    list-style: none;
    gap:15px;
    font-size: 18px;
}
.header-links a {
    text-decoration: none;
    color: #E5E7EB;
}

/* top-content style */

.top-content{
    background-color: blue;
    display: flex;
}




.random-info{
    background: brown;
    height: 350px;
}
.quote{
    background: aqua;
    height: 200px;
}
.signup{
    height: 200px;
    background-color: blueviolet;
}
.fotter{
    height: 100px;
    background-color: chartreuse;
}